[Desktop Entry]
Name=Azeny
X-KDE-PluginInfo-Author=joaopedroaats
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=joaopedroaats@pm.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Azeny
X-KDE-PluginInfo-Version=1.0.0
