[Desktop Entry]
Name=Monsene-Original
X-KDE-PluginInfo-Author=joaopedro
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=joaopedro@disroot.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Monsene-Original
X-KDE-PluginInfo-Version=1.0.0
